<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the request is for an existing file, just serve it
    RewriteCond %{REQUEST_FILENAME] -f
    RewriteRule ^(.*)$ $1 [L]

    # Store the current location in an environment variable CWD
    RewriteCond $0\\%{REQUEST_URI} ([^\\]*)\\(.*)\1$
    RewriteRule ^.*$ - [E=CWD:%2]

    ## Redirect Chains

    RewriteRule ^base-previews/?$ %{ENV:CWD}features/base-previews/ [L,R=302]
    RewriteRule ^features/base-previews/?$ %{ENV:CWD}concepts/base-previews/ [L,R=302]

    RewriteRule ^makefile/?$ %{ENV:CWD}build-script/ [L,R=302]
    RewriteRule ^build-script/?$ %{ENV:CWD}configuring-tugboat/ [L,R=302]

    RewriteRule ^build-script/examples/import-mysql-database/?$ %{ENV:CWD}examples/features/import-mysql-database/ [L,R=302]
    RewriteRule ^examples/features/import-mysql-database/?$ %{ENV:CWD}examples/import-mysql-database/ [L,R=302]

    RewriteRule ^build-script/examples/install-php72/?$ %{ENV:CWD}examples/features/install-php72/ [L,R=302]
    RewriteRule ^examples/features/install-php72/?$ %{ENV:CWD}reference/services/ [L,R=302]

    RewriteRule ^build-script/examples/change-docroot/?$ %{ENV:CWD}examples/features/change-docroot/ [L,R=302]
    RewriteRule ^examples/features/change-docroot/?$ %{ENV:CWD}examples/change-docroot/ [L,R=302]

    RewriteRule ^build-script/examples/functional-tests/?$ %{ENV:CWD}examples/features/functional-tests/ [L,R=302]
    RewriteRule ^examples/features/functional-tests/?$ %{ENV:CWD}examples/functional-tests/ [L,R=302]

    RewriteRule ^examples/drupal7/?$ %{ENV:CWD}examples/applications/drupal7/ [L,R=302]
    RewriteRule ^examples/applications/drupal7/?$ %{ENV:CWD}tutorials/drupal7/ [L,R=302]

    RewriteRule ^examples/drupal8/?$ %{ENV:CWD}examples/applications/drupal8/ [L,R=302]
    RewriteRule ^examples/applications/drupal8/?$ %{ENV:CWD}tutorials/drupal8/ [L,R=302]

    RewriteRule ^examples/generic-lamp/?$ %{ENV:CWD}examples/applications/generic-lamp/ [L,R=302]
    RewriteRule ^examples/applications/generic-lamp/?$ %{ENV:CWD}tutorials/generic-lamp/ [L,R=302]

    RewriteRule ^examples/static-html/?$ %{ENV:CWD}examples/applications/static-html/ [L,R=302]
    RewriteRule ^examples/applications/static-html/?$ %{ENV:CWD}tutorials/static-html/ [L,R=302]

    RewriteRule ^examples/wordpress/?$ %{ENV:CWD}examples/applications/wordpress/ [L,R=302]
    RewriteRule ^examples/applications/wordpress/?$ %{ENV:CWD}tutorials/wordpress/ [L,R=302]

    ## Redirects

    RewriteRule ^build-script/environment-variables/?$ %{ENV:CWD}reference/environment-variables/ [L,R=302]
    RewriteRule ^build-script/custom-environment-variables/?$ %{ENV:CWD}advanced/custom-environment-variables/ [L,R=302]
    RewriteRule ^examples/features/?$ %{ENV:CWD}examples/ [L,R=302]
    RewriteRule ^examples/applications/?$ %{ENV:CWD}tutorials/ [L,R=302]
    RewriteRule ^examples/services/?$ %{ENV:CWD}tutorials/ [L,R=302]
    RewriteRule ^examples/services/pantheon/?$ %{ENV:CWD}tutorials/pantheon/ [L,R=302]
    RewriteRule ^examples/services/pantheon/add-services/?$ %{ENV:CWD}tutorials/pantheon/ [L,R=302]
    RewriteRule ^examples/services/pantheon/configure-terminus/?$ %{ENV:CWD}tutorials/pantheon/#configure-terminus [NE,L,R=302]
    RewriteRule ^examples/services/pantheon/add-build-script/?$ %{ENV:CWD}tutorials/pantheon/#configure-tugboat [NE,L,R=302]
    RewriteRule ^examples/services/pantheon/full-makefile/?$ %{ENV:CWD}tutorials/pantheon/#configure-tugboat [NE,L,R=302]
    RewriteRule ^features/base-previews/?$ %{ENV:CWD}concepts/base-previews/ [L,R=302]
    RewriteRule ^troubleshooting/build-script-debug/?$ %{ENV:CWD}troubleshooting/ [L,R=302]
    RewriteRule ^troubleshooting/debugging-previews/?$ %{ENV:CWD}troubleshooting/ [L,R=302]
    RewriteRule ^reference/faq/?$ %{ENV:CWD}faq/ [L,R=302]
    RewriteRule ^reference/support/?$ %{ENV:CWD}support/ [L,R=302]



    RewriteRule ^tutorials/static-html/?$ %{ENV:CWD}code-library/static-html/ [L,R=302]
    RewriteRule ^tutorials/generic-lamp/?$ %{ENV:CWD}code-library/generic-lamp/ [L,R=302]
    RewriteRule ^tutorials/drupal7/?$ %{ENV:CWD}code-library/drupal7/ [L,R=302]
    RewriteRule ^tutorials/drupal8/?$ %{ENV:CWD}code-library/drupal8/ [L,R=302]
    RewriteRule ^tutorials/wordpress/?$ %{ENV:CWD}code-library/wordpress/ [L,R=302]
    RewriteRule ^tutorials/pantheon/?$ %{ENV:CWD}code-library/pantheon/ [L,R=302]
    RewriteRule ^tutorials/?$ %{ENV:CWD}code-library/#tutorials [L,R=302]
    RewriteRule ^examples/?$ %{ENV:CWD}code-library/#code-snippets [L,R=302]
    RewriteRule ^examples/change-docroot/?$ %{ENV:CWD}setting-up-services/#set-the-document-root-path [L,R=302]
    RewriteRule ^examples/functional-tests/?$ %{ENV:CWD}code-library/functional-tests/ [L,R=302]
    RewriteRule ^examples/import-mysql-database/?$ %{ENV:CWD}code-library/import-mysql-database/ [L,R=302]
    RewriteRule ^examples/page-cache/?$ %{ENV:CWD}code-library/page-cache/ [L,R=302]
    RewriteRule ^examples/phpmyadmin/?$ %{ENV:CWD}code-library/phpmyadmin/ [L,R=302]
    RewriteRule ^examples/simpletest/?$ %{ENV:CWD}code-library/simpletest/ [L,R=302]
    RewriteRule ^examples/tenon_io/?$ %{ENV:CWD}code-library/tenon_io/ [L,R=302]
    RewriteRule ^examples/?$ %{ENV:CWD}code-library/#code-snippets [L,R=302]

    ## Redirects to 404

    RewriteRule ^build-script/examples/reuse-commands/?$ %{ENV:CWD}examples/features/reuse-commands/ [L,R=302]
    RewriteRule ^build-script/examples/external-scripts/?$ %{ENV:CWD}examples/features/external-scripts/ [L,R=302]

    ## Custom 404 page
    <IfModule mod_include.c>
        Options +Includes
        AddType text/html .shtml
        AddOutputFilter INCLUDES .shtml

        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ %{ENV:CWD}404.shtml [L]
    </IfModule>

</IfModule>
