<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^/makefile/?$ /build-script [L,R=302]
    RewriteRule ^/build-script/examples/import-mysql-database/?$ /examples/features/import-mysql-database [L,R=302]
    RewriteRule ^/build-script/examples/install-php72/?$ /examples/features/install-php72 [L,R=302]
    RewriteRule ^/build-script/examples/change-docroot/?$ /examples/features/change-docroot [L,R=302]
    RewriteRule ^/build-script/examples/reuse-commands/?$ /examples/features/reuse-commands [L,R=302]
    RewriteRule ^/build-script/examples/external-scripts/?$ /examples/features/external-scripts [L,R=302]
    RewriteRule ^/build-script/examples/functional-tests/?$ /examples/features/functional-tests [L,R=302]
    RewriteRule ^/base-previews/?$ features/base-previews [L,R=302]
    RewriteRule ^/examples/drupal7/?$ /examples/applications/drupal7 [L,R=302]
    RewriteRule ^/examples/drupal8/?$ /examples/applications/drupal8 [L,R=302]
    RewriteRule ^/examples/generic-lamp/?$ /examples/applications/generic-lamp [L,R=302]
    RewriteRule ^/examples/static-html/?$ /examples/applications/static-html [L,R=302]
    RewriteRule ^/examples/wordpress/?$ /examples/applications/wordpress [L,R=302]
    RewriteRule ^/faq/?$ reference/faq [L,R=302]
</IfModule>
