
/* Import Poppins font for headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{

    /* Font customizations */
    --MAIN-font-weight: 400; /* Regular weight instead of light (300) */
    --MAIN-BOLD-font-weight: 600; /* Semibold for emphasis */
    
    /* Headings use Poppins */
    --MAIN-TITLES-font: "Poppins", sans-serif;
    --MAIN-TITLES-font-weight: 500; /* Medium weight for headings */
    --MAIN-TITLES-H1-font: "Poppins", sans-serif;
    --MAIN-TITLES-H1-font-weight: 700; /* Bold for H1 */
    --MAIN-TITLES-H1-letter-spacing: -0.02em;
    --MAIN-TITLES-H1-text-transform: none;
    --MAIN-TITLES-H2-font: "Poppins", sans-serif;
    --MAIN-TITLES-H2-font-weight: 700; /* Bold weight for H2 */
    --MAIN-TITLES-H2-letter-spacing: -0.02em;

    --MAIN-TEXT-color:#1C4248; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #1C4248; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#0098CB; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#07536F; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#07688C; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #112d3e; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #E8F0F5; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #1C4248; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#F9FCFE; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#E8F0F5; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #535B60; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #07688C;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #03384B; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #dde7ee; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

#body-inner {
    margin: 7.4em 0 5em;
}

#chapter #body-inner {
    margin: 5em 0;
}

@media only all and (max-width: 59.938em) {
    #body-inner {
        margin-top: 4em;
    }

    #chapter #body-inner {
        margin-top: 1.6em;
    }
}

#body-inner p, #body-inner ul {
    max-width: 56em;
}

#chapter {
    justify-content: normal;
    padding: 0;
    align-items: initial;
    display: initial;
}

#chapter p {
    font-size: 1rem;
}

#chapter #body-inner h3:first-child {
    font-style: italic;
    margin: 0;
    color: #07688C;
}

h1, #chapter * {
    text-align: left !important;
    text-transform: none;
}

h1, h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h1, #chapter h1, body #chapter h1 {
    font-size: 3.14rem;
    border-bottom: solid .25rem #E8F0F5;
}

h2 {
    font-size: 2.14rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.333rem;
    font-weight: normal;
    color: #535B60;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: #03384B;
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
    border-bottom: 0;
}
#sidebar #header a {
    display: block;
    line-height: 0;
}
#grav-logo {
    max-width: 100%;
    width: 168px;
    height: 56px;
}

#sidebar .searchbox {
    border: none;
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}
#sidebar .searchbox input {
    color: #1C4248;
    background: #F9FCFE;
}
.searchbox input::placeholder {
    color: #9AAFB7;
}
.autocomplete-suggestions {
    border: 0;
    border-bottom: solid 1px #eee;
    box-shadow: 0 2em 2em rgba(180,180,180,.1);
}
.autocomplete-suggestion {
    color: #3E4548;
}
.autocomplete-suggestion .context {
    color: #777C7E;
}
.autocomplete-suggestion.selected,
.autocomplete-suggestion:hover {
    background: #0098CB;
    color: #fff;
}
.autocomplete-suggestion.selected .context,
.autocomplete-suggestion:hover .context {
    color: #CCEAF5;
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}
#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul.topics {
    margin: 1rem 1rem 0 1rem;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    font-style: italic;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#sidebar ul.topics > li > a b {
    opacity: 1;
}

#sidebar ul.topics ul {
    padding-bottom: 0;
}

#sidebar .topics ul li:first-child > a {
    margin-top: .5rem;
}

#sidebar .topics ul li:last-child > a {
    padding-bottom: .5rem;
}

#sidebar .highlightable {
    padding: 0;
}

.ui-text {
    background: #cdd7db;
    border-radius: .1875rem;
    color: #03384B;
    padding: .125rem .5rem;
    font-weight: 500;
}

.expand {
    background: #F9F6F2;
    padding: 2rem;
}

.expand-label {
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: #07688C !important;
    letter-spacing: inherit;
    text-rendering: inherit;
}

.expand-label:hover {
    color: #0098CB !important;
}

.expand-content {
    padding: 3em;
    background: #fff;
    margin-top: 2em;
}

#body ul {
    line-height: 2;
}

#body a img {
    margin-left: 0;
    margin-right: 0;
    border: solid 1px #ededed;
    box-shadow: 2px 2px 20px 4px rgba(200, 200, 200, 0.1);
}

#body .expand-content img {
    margin: 1em 0 6em;
}

#body .expand-content p:last-child img {
    margin-bottom: 0;
}

mark {
    background: #FBE7CB;
}

:not(pre) > code {
    border: none;
    display: inline;
    padding: .4375rem .3125rem;
    white-space: normal;
    background: #f7f7f7;
    color: #1C4248;
}

.btn-default {
    border-width: 2px !important;
    font-size: 1rem !important;
    color: #fff !important;
    background-color: #0098CB !important;
    border-color: #0098CB !important;
    font-weight: 600 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff!important;
    background-color: #007ba5 !important;
    border-color: #007298 !important;
}

.btn.btn-learn-more,
.btn.btn-learn-more:focus,
.btn.btn-learn-more:active {
    color: #0098CB !important;
    border-color: #0098CB !important;
    background-color: #fff !important;
}

.btn.btn-learn-more:hover {
    color: #fff !important;
    background-color: #0098CB !important;
    border-color: #0098CB !important;
}
