<!-- Browsers -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico">
<link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon/favicon-192x192.png" sizes="192x192" />

<!-- SVG for modern browsers -->
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />

<!-- Firefox will use an SVG if it is the biggest available icon -->
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" sizes="196x196 "/>

<!-- Apple -->
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-120x120.png" sizes="120x120" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-152x152.png" sizes="152x152" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-167x167.png" sizes="167x167" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-180x180.png" sizes="180x180" />

<!-- Windows -->
<meta name="application-name" content="Tugboat" />
<meta name="msapplication-TileColor" content="#07536e" />
<meta name="msapplication-square70x70logo" content="/favicon/ms-tile-128x128.png" />
<meta name="msapplication-square150x150logo" content="/favicon/ms-tile-270x270.png" />
<meta name="msapplication-square310x310logo" content="/favicon/ms-tile-558x558.png" />
<meta name="msapplication-wide310x150logo" content="/favicon/ms-tile-558x270.png" />

